body {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  font-family: 'Calibri';
  color: rgb(180, 180, 180);
  background-color: rgb(34, 34, 34);
}
a {
color: rgb(180, 180, 180);
font-weight: bold;
text-decoration: underline;
}
nav {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 22px;
  font-family: "trebuchet ms";
}
nav ul {
  width: 100%;
}
nav ul li {
  width: 15%;
  float: left;
  text-align: center;
}